@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

body {
  background-color: #1b203e;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-style: normal;
    color: #f3f5f8;
}

.flex {
    display: flex;
}

.login {
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: bold;
}

a {
    color:#f3f5f8;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 32px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
}

.logo-icon {
    display: flex;
    
}

.logo-icon img {

  width: 100px;
  height: 100px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background: #2e3356;
    height: 8vh;
}

nav a{
    background-color: #2e3356;
}

nav li{
    background-color: #2e3356;

}

.nav-list {
    list-style: none;
    display: flex;
    background-color: #2e3356;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  
}

.mobile-menu {
    display: none;
    cursor: pointer;
    align-items: center;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    padding-right: 1.5rem;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #2e3356;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    
  }
  .mobile-menu {
    display: block;
    background: #2e3356;
  }
}

.nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
